.jumbotron{
	background-color: yellow;
	color: black; 
	margin-top: 35px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 250px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.button-aling-right{
	padding-right: 10px;
	color: grey;
}

.icon{
	padding-right: 10px;
}

.imagen{
	width: 100%;
	height: 300px;
}